/*VARIAVEL DE COR & FONTE*/
:root {
    --white: #ffffff;
    --gray: #39393b;
}
* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container, 
section {
    /* DELIMITAÇÃO */
    max-width: 1536px;
    margin-inline: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    height: fit-content;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    
    outline: solid 2px red;
}
body {
    position:relative;
    display: flex;
    flex-direction: column;   
}
header {
    /* HEADER */
   width: 100%;
   background-color: var(--gray);
   z-index: 1;
}
.container_header {
    padding-block: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

/* Começo do Header */
header img {
  height: 4rem;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5rem;
}
ul a {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
ul a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}
ul a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}
/* Fim do Header */
form {
    padding-block: 2em;
    padding-inline: 3em;
    border-radius: 1.5rem;
    text-align: center;
}
h1, h2{
    letter-spacing: 3px;
    text-align: center;
    margin-top: 0.25em;
}
label {
    font-weight: 700;
}
button {
    padding-inline: 0.1em;
    padding-block: 0.2em;
    width: 100%;

    background-color: var(--gray);
    text-transform: uppercase;
    font-weight:600;
    letter-spacing: 3px;
    color: var(--white);

    border-radius:  0.5rem;
    padding: 0.4rem 0.75rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
}
input, select {
    outline: 3px solid var(--gray);
    border: solid 2px var(--purple);
    border-radius:  0.5rem;
    padding: 0.4rem 0.75rem;
}
.row {
    padding-block: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}